:root {
    --accent_color_lite: rgb(83, 117, 161);
    --accent_color_dark: rgb(27, 63, 92);
    --accent_background_color: rgb(150, 191, 219);
    --font_color: rgb(16, 24, 56);
    --full_background:  rgb(195, 212, 228);
  }

section {
    max-width: 55rem;
}

header {
    /* width: 50%; */
    padding: 0 6rem;
    display:flex;
}
header > div {
    justify-content: space-between;
}

.countBubble{
    font-size: 1.5rem;
    text-align: center;
    padding: .75rem .75rem;
    margin-bottom: 0.2rem;
    color: var(--font_color);
}
div h1 {
    font-size: 1.25rem;
    margin-bottom: 0.2rem;
}

#questionHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    outline: 0.25rem solid var(--accent_color_dark);
    padding: 4rem 4rem;
}

#questionText {
    font-size: 2rem;
    font-weight: 150;
    text-align:center;
    margin-bottom: 2rem;
}

.answerChoice {
    display: flex;
    margin-bottom: 1.5rem;
    width: 100%;
    border: 0.3rem solid var(--accent_color_dark);
    background-color: var(--accent_background_color);
}
p {
    margin-bottom: 0;
}

.answerChoice:hover {
    cursor:pointer;
    filter:brightness(120%);
    box-shadow: -0.2rem 0.225rem 0.7rem 0 var(--accent_color_lite);
  }

.choice-letter {
    padding: 1rem 1rem;
    background-color: var(--accent_background_color);
    font-size: 1.75rem;
    color: var(--font_color);
    display: flex;
    align-items: center;
}

.answerFill {
    text-align: center;
    padding: 1.25rem;
    font-size: 1.4rem;
    width: 100%;
}


