:root {
    --accent_color_lite: rgb(83, 117, 161);
    --accent_color_dark: rgb(27, 63, 92);
    --accent_background_color: rgb(150, 191, 219);
    --font_color: rgb(16, 24, 56);
    --full_background:  rgb(195, 212, 228);
  }

  * {
    box-sizing: border-box;
    font-family: 'DotGothic16', 'sans-serif';
    background-color: var(--full_background);
    margin: 0;
    padding: 0;
    color: var(--font_color);
    font-size: small;
  }

  h1 {
    font-size: 5rem;
    color: var(--font_color);
    text-align: center;
    margin-bottom: 6rem;
  }


  p {
    background-color: var(--accent_background_color);
    color: var(--font_color);
    font-size: 1.25rem;
    text-align: justify;
    line-height: 2rem;
    outline: 0.25rem solid var(--accent_color_dark);
    padding: 2rem;
    margin-bottom: 4.5rem;
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 .button {
  font-size: 2rem;
  color: var(--font_color);
  background-color: var(--accent_background_color);
  padding: 2rem 2rem;
  width: 30rem;
  text-align: center;
  border: 0.3rem solid var(--accent_color_dark);
  margin-bottom: 2rem;
  text-decoration: none;
 }

 .button:hover {
  filter:brightness(120%);
  box-shadow: -0.25rem 0.25rem 0.75rem var(--accent_color_lite);
}
#endH1 {
  font-size: 3rem;
}

#score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#score a {
  font-size: 1.5rem;
}
.label {
  font-size: 2rem;
}

.endbutton { 
  font-size: 1rem;
  color: var(--font_color);
  background-color: var(--accent_background_color);
  padding: .25rem .5rem;
  text-align: center;
  border: 0.3rem solid var(--accent_color_dark);
  margin-bottom: 2rem;
}
.endbutton:hover {
  filter:brightness(120%);
  box-shadow: -0.25rem 0.25rem 0.75rem var(--accent_color_lite);
}
#input {
  font-size: 1.5rem;
}
 